<div class="page">

    <header>
      <span class="logo-text">TECHSTORE</span>
      <p class="sub">лучшие гаджеты на kaspi.kz</p>
    </header>
  
    <div class="tabs">
      <button
        *ngFor="let c of svc.getCategories()"
        [class.active]="chosenCat?.id === c.id"
        (click)="pickCategory(c)">
        {{ c.emoji }} {{ c.name }}
      </button>
    </div>
  
    <div class="content">
      <ng-container *ngIf="chosenCat; else hint">
        <h2 class="cat-title">{{ chosenCat.emoji }} {{ chosenCat.name }}</h2>
        <app-product-list [items]="shownProducts"></app-product-list>
      </ng-container>
  
      <ng-template #hint>
        <div class="hint-box">
          <p>👆 Выбери категорию выше</p>
        </div>
      </ng-template>
    </div>
  
  </div>
  